In [ ]:
%run C:\Users\Omar\Intern_Final_Project\notebooks\Data_Cleaning\Features_Engineering.ipynb

---

In [13]:
print(df_red.shape,df_green.shape,df_yellow.shape)

(402, 478) (402, 478) (402, 478)

---

### *A. <BR> Applying SelectKBest for the df_red data*

In [14]:
x_df_red=df_red.drop(["price"],axis=1)
y_df_red=df_red["price"]
from sklearn.feature_selection import SelectKBest,f_regression,mutual_info_regression  
best_red=SelectKBest(score_func=f_regression,k=477).fit(x_df_red,y_df_red)
features_score_red=pd.concat([pd.DataFrame(x_df_red.columns,columns=["feature"]),pd.DataFrame(best_red.scores_,columns=["score"])],axis=1)
features_score_red.sort_values(by="score",ascending=False)

                                        feature       score
13                      price_shift_4_Rolling_2  186.304746
205          jordan_min_price_shift_4_Rolling_2  150.020071
14                      price_shift_4_Rolling_4  146.411626
17                      price_shift_5_Rolling_2  135.389147
189          jordan_max_price_shift_4_Rolling_2  131.756426
..                                          ...         ...
431       vietnam_total_price_shift_4_Rolling_6    0.017885
152          indonesia_season_shift_6_Rolling_7    0.011585
365  china_volume_percetntage_shift_4_Rolling_2    0.003988
413         india_total_price_shift_4_Rolling_2    0.003504
461         china_total_price_shift_4_Rolling_2    0.000367

[477 rows x 2 columns]

#### *A.1. <BR> Dropping the lowest 100 important features to reduce time and machine consumption*

In [15]:
for col in df_red:
    if col in list(features_score_red.sort_values(by="score",ascending=False)[-100:]["feature"]):
        df_red.drop({col},axis=1,inplace=True)

In [16]:
df_red.shape

(402, 378)

---

### *B.<BR> Applying SelectKBest for the df_green data*

In [17]:
x_df_green=df_green.drop(["price"],axis=1)
y_df_green=df_green["price"]

best_green=SelectKBest(score_func=f_regression,k=477).fit(x_df_green,y_df_green)
features_score_green=pd.concat([pd.DataFrame(x_df_green.columns,columns=["feature"]),pd.DataFrame(best_green.scores_,columns=["score"])],axis=1)
features_score_green.sort_values(by="score",ascending=False)

                                     feature         score
13                   price_shift_4_Rolling_2  1.097243e+02
14                   price_shift_4_Rolling_4  9.175959e+01
17                   price_shift_5_Rolling_2  8.503407e+01
205       jordan_min_price_shift_4_Rolling_2  7.774035e+01
15                   price_shift_4_Rolling_6  7.389294e+01
..                                       ...           ...
457  indonesia_total_price_shift_7_Rolling_2  3.883088e-03
109                  china_shift_4_Rolling_2  3.157983e-03
452  indonesia_total_price_shift_5_Rolling_7  1.798365e-03
8                               india_season  1.202908e-04
176           china_season_shift_4_Rolling_7  7.461125e-07

[477 rows x 2 columns]

#### *B.1. <BR> Dropping the lowest 100 important features to reduce time and machine consumption*

In [18]:
for col in df_green:
    if col in list(features_score_green.sort_values(by="score",ascending=False)[-100:]["feature"]):
        df_green.drop({col},axis=1,inplace=True)

In [19]:
df_green.shape

(402, 378)

---

### *C.<BR> Applying SelectKBest for the df_yellow data*

In [20]:
x_df_yellow=df_yellow.drop(["price"],axis=1)
y_df_yellow=df_yellow["price"]

best_yellow=SelectKBest(score_func=f_regression,k=477).fit(x_df_yellow,y_df_yellow)
features_score_yellow=pd.concat([pd.DataFrame(x_df_yellow.columns,columns=["feature"]),pd.DataFrame(best_yellow.scores_,columns=["score"])],axis=1)
features_score_yellow.sort_values(by="score",ascending=False)

                                     feature       score
13                   price_shift_4_Rolling_2  187.083674
205       jordan_min_price_shift_4_Rolling_2  148.045073
14                   price_shift_4_Rolling_4  142.025478
189       jordan_max_price_shift_4_Rolling_2  140.039269
17                   price_shift_5_Rolling_2  134.103925
..                                       ...         ...
431    vietnam_total_price_shift_4_Rolling_6    0.010432
433    vietnam_total_price_shift_5_Rolling_2    0.007208
448  indonesia_total_price_shift_4_Rolling_7    0.006883
98               indonesia_shift_5_Rolling_4    0.001003
101              indonesia_shift_6_Rolling_2    0.000005

[477 rows x 2 columns]

#### *C.1. <BR> Dropping the lowest 100 important features to reduce time and machine consumption*

In [21]:
for col in df_yellow:
    if col in list(features_score_yellow.sort_values(by="score",ascending=False)[-100:]["feature"]):
        df_yellow.drop({col},axis=1,inplace=True)

In [22]:
df_yellow.shape

(402, 378)