In [ ]:
%run C:\Users\Omar\Intern_Final_Project\notebooks\Data_Cleaning\Features_Engineering.ipynb

In [3]:
print(df_red.shape,df_green.shape,df_yellow.shape)

(398, 388) (398, 388) (398, 388)

In [4]:
x_df_red=df_red.drop(["price"],axis=1)
y_df_red=df_red["price"]
from sklearn.feature_selection import SelectKBest,f_regression,mutual_info_regression  
best_red=SelectKBest(score_func=f_regression,k=26).fit(x_df_red,y_df_red)
features_score_red=pd.concat([pd.DataFrame(x_df_red.columns,columns=["feature"]),pd.DataFrame(best_red.scores_,columns=["score"])],axis=1)
features_score_red.sort_values(by="score",ascending=False)

                                     feature       score
3                    price_shift_4_Rolling_2  260.335798
195       jordan_min_price_shift_4_Rolling_2  212.673563
4                    price_shift_4_Rolling_4  190.718011
179       jordan_max_price_shift_4_Rolling_2  179.229074
7                    price_shift_5_Rolling_2  173.241156
..                                       ...         ...
351    vietnam_total_price_shift_7_Rolling_2    0.001158
99                   china_shift_4_Rolling_2    0.000544
369  indonesia_total_price_shift_7_Rolling_6    0.000139
377      china_total_price_shift_5_Rolling_6    0.000043
380      china_total_price_shift_6_Rolling_4    0.000009

[387 rows x 2 columns]

In [5]:
x_df_green=df_green.drop(["price"],axis=1)
y_df_green=df_green["price"]

best_green=SelectKBest(score_func=f_regression,k=75).fit(x_df_green,y_df_green)
features_score_green=pd.concat([pd.DataFrame(x_df_green.columns,columns=["feature"]),pd.DataFrame(best_green.scores_,columns=["score"])],axis=1)
features_score_green.sort_values(by="score",ascending=False)

                                feature       score
3               price_shift_4_Rolling_2  183.027217
4               price_shift_4_Rolling_4  140.269761
7               price_shift_5_Rolling_2  127.026484
195  jordan_min_price_shift_4_Rolling_2  119.559189
5               price_shift_4_Rolling_6  111.138779
..                                  ...         ...
178      china_season_shift_7_Rolling_7    0.046378
254  vietnam_season_1_shift_6_Rolling_7    0.041598
253  vietnam_season_1_shift_6_Rolling_6    0.024696
177      china_season_shift_7_Rolling_6    0.021421
256  vietnam_season_1_shift_7_Rolling_4    0.009883

[387 rows x 2 columns]

In [6]:
x_df_yellow=df_yellow.drop(["price"],axis=1)
y_df_yellow=df_yellow["price"]

best_yellow=SelectKBest(score_func=f_regression,k=26).fit(x_df_yellow,y_df_yellow)
features_score_yellow=pd.concat([pd.DataFrame(x_df_yellow.columns,columns=["feature"]),pd.DataFrame(best_yellow.scores_,columns=["score"])],axis=1)
features_score_yellow.sort_values(by="score",ascending=False)

                                feature       score
3               price_shift_4_Rolling_2  314.294286
195  jordan_min_price_shift_4_Rolling_2  261.132552
179  jordan_max_price_shift_4_Rolling_2  253.132565
4               price_shift_4_Rolling_4  241.687322
7               price_shift_5_Rolling_2  219.097003
..                                  ...         ...
93          indonesia_shift_6_Rolling_6    0.003947
96          indonesia_shift_7_Rolling_4    0.003892
109             china_shift_6_Rolling_6    0.003629
174      china_season_shift_6_Rolling_7    0.001326
250  vietnam_season_1_shift_5_Rolling_7    0.000005

[387 rows x 2 columns]