##  *Features_Engineering*

In [ ]:
%run C:\Users\Omar\Intern_Final_Project\notebooks\Data_Cleaning\Task_1.ipynb

#### *Adding new features for total price by ( multiplying price by each country's volume)*

In [61]:
def total_price():
    for col in df:
        if col in ['total_volume', 'brazil', 'india', 'vietnam', 'indonesia','china']:
            df[f"{col}_total_price"]=df[col]*df["price"]


total_price()

In [62]:
df.head()

,price,total_volume,brazil,india,vietnam,indonesia,china,brazil_season,indonesia_season,india_season,...,vietnam_season_3,green,red,yellow,total_volume_total_price,brazil_total_price,india_total_price,vietnam_total_price,indonesia_total_price,china_total_price
week_end_dt,,,,,,,,,,,,,,,,,,,,,
2016-01-03,6.599075,1596040.2,10793.5,65658.1,1519588.5,0.0,0.0,0,0,0,...,0,1,0,0,1.053239e+07,71227.116013,433282.726258,1.002788e+07,0.0,0.0
2016-01-03,7.175335,1596040.2,10793.5,65658.1,1519588.5,0.0,0.0,0,0,0,...,0,0,1,0,1.145212e+07,77446.978322,471118.862964,1.090356e+07,0.0,0.0
2016-01-03,7.300575,1596040.2,10793.5,65658.1,1519588.5,0.0,0.0,0,0,0,...,0,0,0,1,1.165201e+07,78798.756262,479341.883408,1.109387e+07,0.0,0.0
2016-01-10,7.379675,2295578.0,5677.8,15274.4,2274625.7,0.0,0.0,0,0,0,...,0,0,0,1,1.694062e+07,41900.318715,112720.107820,1.678600e+07,0.0,0.0
2016-01-10,7.175335,2295578.0,5677.8,15274.4,2274625.7,0.0,0.0,0,0,0,...,0,0,1,0,1.647154e+07,40740.117063,109598.936924,1.632120e+07,0.0,0.0

---

#### *Creating new 3 datasetes ,each dataset represent a specific color of the pepper*

In [63]:
df_red=df[df["red"]==1].drop(["red","yellow","green"],axis=1)
df_green=df[df["green"]==1].drop(["red","yellow","green"],axis=1)
df_yellow=df[df["yellow"]==1].drop(["red","yellow","green"],axis=1)

In [64]:
print(df_red.shape,df_green.shape,df_yellow.shape)

(405, 27) (405, 27) (405, 27)

---

#### *Features Shifting*
* *since we are going to forecase the future 4 weeks , the min number of shifs will be 4,hence ;we will do shifting for 5 and 6 weeks as well to see the model performance*

shift=[4,5,6]
for col in df_red:
        for s in shift:
               if col not in ["year","month","week"]:
                    df_red[f"{col}_shift_{s}"]=df_red[col].rolling(window=7, min_periods=1).mean().shift(s)
                    df_red.dropna(axis=0,how="any",inplace=True)

In [65]:
df_red

,price,total_volume,brazil,india,vietnam,indonesia,china,brazil_season,indonesia_season,india_season,...,week,vietnam_season_1,vietnam_season_2,vietnam_season_3,total_volume_total_price,brazil_total_price,india_total_price,vietnam_total_price,indonesia_total_price,china_total_price
week_end_dt,,,,,,,,,,,,,,,,,,,,,
2016-01-03,7.175335,1596040.2,10793.5,65658.1,1519588.5,0.0,0.0,0,0,0,...,2,0,1,0,1.145212e+07,77446.978322,471118.862964,1.090356e+07,0.000000e+00,0.000000
2016-01-10,7.175335,2295578.0,5677.8,15274.4,2274625.7,0.0,0.0,0,0,0,...,3,0,1,0,1.647154e+07,40740.117063,109598.936924,1.632120e+07,0.000000e+00,0.000000
2016-01-17,7.175335,2418196.7,26727.0,72230.2,2319239.4,0.0,0.0,0,0,0,...,4,0,1,0,1.735137e+07,191775.178545,518275.882117,1.664132e+07,0.000000e+00,0.000000
2016-01-24,7.175335,2774383.5,85537.4,51157.6,2637688.5,0.0,0.0,0,0,0,...,5,0,1,0,1.990713e+07,613759.500029,367072.917796,1.892630e+07,0.000000e+00,0.000000
2016-01-31,7.175335,2503155.4,115289.9,57268.7,2330596.7,0.0,0.0,0,0,0,...,6,0,1,0,1.796098e+07,827243.654617,410922.107514,1.672281e+07,0.000000e+00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-03,6.984959,2250074.0,118628.5,4300.7,1629389.8,482332.7,15422.1,0,0,1,...,37,1,0,0,1.571668e+07,828615.244320,30040.214462,1.138122e+07,3.369074e+06,107722.740821
2023-09-10,6.785139,2183336.1,82404.5,0.0,1692231.9,377855.4,23133.1,0,0,1,...,38,1,0,0,1.481424e+07,559126.011447,0.000000,1.148203e+07,2.563802e+06,156961.305941
2023-09-17,6.735184,2416993.0,45361.3,0.0,2016678.1,312769.5,42184.0,0,0,1,...,39,1,0,0,1.627889e+07,305516.715588,0.000000,1.358270e+07,2.106560e+06,284117.014511
2023-09-24,7.334644,2761128.0,8695.6,29937.0,2530027.4,180220.8,12246.9,0,0,1,...,40,1,0,0,2.025189e+07,63779.132975,219577.246409,1.855685e+07,1.321855e+06,89826.655278
2023-10-01,7.259712,2665343.9,167.8,45376.1,2521054.0,78334.2,8618.2,0,0,1,...,41,1,0,0,1.934963e+07,1218.179640,329417.408608,1.830213e+07,5.686837e+05,62565.648235

In [66]:
shift=[4,5,6]
def features_shift():       
    
        for col in df_red:
           for s in shift:
               if col not in ["year","month","week"]:
                    df_red[f"{col}_shift_{s}"]=df_red[col].rolling(window=7, min_periods=1).mean().shift(s)
                    df_red.dropna(axis=0,how="any",inplace=True)
              

        for col in df_green:
           for s in shift:
                if col not in ["year","month","week"]:
                   df_green[f"{col}_shift_{s}"]=df_green[col].rolling(window=7, min_periods=1).mean().shift(s)
                   df_green.dropna(axis=0,how="any",inplace=True)

        for col in df_yellow:
            for s in shift:
                if col not in ["year","month","week"]:
                   df_yellow[f"{col}_shift_{s}"]=df_yellow[col].rolling(window=7, min_periods=1).mean().shift(s)
                   df_yellow.dropna(axis=0,how="any",inplace=True)



features_shift()

In [67]:
print(df_red.shape,df_green.shape,df_yellow.shape)

(45, 99) (45, 99) (45, 99)

In [68]:
features_to_drop=['total_volume','brazil','india','vietnam','indonesia','china','brazil_season','indonesia_season','india_season',
                  'china_season','jordan_max_price','jordan_min_price','demand','supply','vietnam_season_1','vietnam_season_2',
                  'vietnam_season_3','total_volume_total_price','brazil_total_price','india_total_price','vietnam_total_price','indonesia_total_price',
                  'china_total_price']

In [69]:
def features_drop():
      df_red.drop(features_to_drop,axis=1,inplace=True)
      df_green.drop(features_to_drop,axis=1,inplace=True)    
      df_yellow.drop(features_to_drop,axis=1,inplace=True) 



features_drop()

In [70]:
print(df_red.shape,df_green.shape,df_yellow.shape)

(45, 76) (45, 76) (45, 76)