In [ ]:
%run C:\Users\Omar\Intern_Final_Project\notebooks\Data_Cleaning\Features_Engineering.ipynb

In [3]:
print(df_red.shape,df_green.shape,df_yellow.shape)

(398, 478) (398, 478) (398, 478)

In [28]:
x_df_red=df_red.drop(["price"],axis=1)
y_df_red=df_red["price"]
from sklearn.feature_selection import SelectKBest,f_regression,mutual_info_regression  
best_red=SelectKBest(score_func=f_regression,k=400).fit(x_df_red,y_df_red)
features_score_red=pd.concat([pd.DataFrame(x_df_red.columns,columns=["feature"]),pd.DataFrame(best_red.scores_,columns=["score"])],axis=1)
features_score_red.sort_values(by="score",ascending=False)[:-100]

                                     feature       score
13                   price_shift_4_Rolling_2  260.335798
205       jordan_min_price_shift_4_Rolling_2  212.673563
14                   price_shift_4_Rolling_4  190.718011
189       jordan_max_price_shift_4_Rolling_2  179.229074
17                   price_shift_5_Rolling_2  173.241156
..                                       ...         ...
429    vietnam_total_price_shift_4_Rolling_2    1.633135
443    vietnam_total_price_shift_7_Rolling_6    1.557744
176           china_season_shift_4_Rolling_7    1.546137
454  indonesia_total_price_shift_6_Rolling_4    1.463809
96               indonesia_shift_4_Rolling_7    1.331766

[377 rows x 2 columns]

In [31]:
for col in df_red:
    if col in list(features_score_red.sort_values(by="score",ascending=False)[-100:]["feature"]):
        df_red.drop({col},axis=1,inplace=True)

In [32]:
df_red.shape

(398, 378)

In [21]:
x_df_green=df_green.drop(["price"],axis=1)
y_df_green=df_green["price"]

best_green=SelectKBest(score_func=f_regression,k=75).fit(x_df_green,y_df_green)
features_score_green=pd.concat([pd.DataFrame(x_df_green.columns,columns=["feature"]),pd.DataFrame(best_green.scores_,columns=["score"])],axis=1)
features_score_green.sort_values(by="score",ascending=False)[:-100]

                                        feature       score
13                      price_shift_4_Rolling_2  183.027217
14                      price_shift_4_Rolling_4  140.269761
17                      price_shift_5_Rolling_2  127.026484
205          jordan_min_price_shift_4_Rolling_2  119.559189
15                      price_shift_4_Rolling_6  111.138779
..                                          ...         ...
35               total_volume_shift_5_Rolling_6    3.906150
100                 indonesia_shift_5_Rolling_7    3.831250
367  china_volume_percetntage_shift_4_Rolling_6    3.723347
368  china_volume_percetntage_shift_4_Rolling_7    3.717016
365  china_volume_percetntage_shift_4_Rolling_2    3.648579

[377 rows x 2 columns]

In [33]:
for col in df_green:
    if col in list(features_score_green.sort_values(by="score",ascending=False)[-100:]["feature"]):
        df_green.drop({col},axis=1,inplace=True)

In [34]:
df_green.shape

(398, 378)

In [22]:
x_df_yellow=df_yellow.drop(["price"],axis=1)
y_df_yellow=df_yellow["price"]

best_yellow=SelectKBest(score_func=f_regression,k=26).fit(x_df_yellow,y_df_yellow)
features_score_yellow=pd.concat([pd.DataFrame(x_df_yellow.columns,columns=["feature"]),pd.DataFrame(best_yellow.scores_,columns=["score"])],axis=1)
features_score_yellow.sort_values(by="score",ascending=False)[:-100]

                                feature       score
13              price_shift_4_Rolling_2  314.294286
205  jordan_min_price_shift_4_Rolling_2  261.132552
189  jordan_max_price_shift_4_Rolling_2  253.132565
14              price_shift_4_Rolling_4  241.687322
17              price_shift_5_Rolling_2  219.097003
..                                  ...         ...
267  vietnam_season_1_shift_7_Rolling_6    2.528676
185      china_season_shift_7_Rolling_2    2.483691
261  vietnam_season_1_shift_6_Rolling_2    2.439110
255  vietnam_season_1_shift_4_Rolling_6    2.437130
101         indonesia_shift_6_Rolling_2    2.367693

[377 rows x 2 columns]

In [35]:
for col in df_yellow:
    if col in list(features_score_yellow.sort_values(by="score",ascending=False)[-100:]["feature"]):
        df_yellow.drop({col},axis=1,inplace=True)

In [36]:
df_yellow.shape

(398, 378)