In [ ]:
%run C:\Users\Omar\Intern_Final_Project\notebooks\Data_Cleaning\Features_Engineering.ipynb

In [2]:
print(df_red.shape,df_green.shape,df_yellow.shape)

(45, 76) (45, 76) (45, 76)

In [3]:
x_df_red=df_red.drop(["price"],axis=1)
y_df_red=df_red["price"]
from sklearn.feature_selection import SelectKBest,f_regression,mutual_info_regression  
best_red=SelectKBest(score_func=f_regression,k=26).fit(x_df_red,y_df_red)
features_score_red=pd.concat([pd.DataFrame(x_df_red.columns,columns=["feature"]),pd.DataFrame(best_red.scores_,columns=["score"])],axis=1)
features_score_red

                          feature     score
0                            year  7.696492
1                           month  0.074470
2                            week  0.077295
3                   price_shift_4  1.952491
4                   price_shift_5  0.800053
..                            ...       ...
70  indonesia_total_price_shift_5  1.647673
71  indonesia_total_price_shift_6  3.093719
72      china_total_price_shift_4  0.461671
73      china_total_price_shift_5  0.442848
74      china_total_price_shift_6  0.052788

[75 rows x 2 columns]

In [4]:
x_df_green=df_green.drop(["price"],axis=1)
y_df_green=df_green["price"]

best_green=SelectKBest(score_func=f_regression,k=75).fit(x_df_green,y_df_green)
features_score_green=pd.concat([pd.DataFrame(x_df_green.columns,columns=["feature"]),pd.DataFrame(best_green.scores_,columns=["score"])],axis=1)
features_score_red

                          feature     score
0                            year  7.696492
1                           month  0.074470
2                            week  0.077295
3                   price_shift_4  1.952491
4                   price_shift_5  0.800053
..                            ...       ...
70  indonesia_total_price_shift_5  1.647673
71  indonesia_total_price_shift_6  3.093719
72      china_total_price_shift_4  0.461671
73      china_total_price_shift_5  0.442848
74      china_total_price_shift_6  0.052788

[75 rows x 2 columns]

In [5]:
x_df_yellow=df_yellow.drop(["price"],axis=1)
y_df_yellow=df_yellow["price"]

best_yellow=SelectKBest(score_func=f_regression,k=26).fit(x_df_yellow,y_df_yellow)
features_score_yellow=pd.concat([pd.DataFrame(x_df_yellow.columns,columns=["feature"]),pd.DataFrame(best_yellow.scores_,columns=["score"])],axis=1)
features_score_red

                          feature     score
0                            year  7.696492
1                           month  0.074470
2                            week  0.077295
3                   price_shift_4  1.952491
4                   price_shift_5  0.800053
..                            ...       ...
70  indonesia_total_price_shift_5  1.647673
71  indonesia_total_price_shift_6  3.093719
72      china_total_price_shift_4  0.461671
73      china_total_price_shift_5  0.442848
74      china_total_price_shift_6  0.052788

[75 rows x 2 columns]