In [ ]:
%run C:\Users\Omar\Intern_Final_Project\notebooks\Data_Cleaning\Features_Engineering.ipynb

In [3]:
df_green

,price,year,month,price_shift,total_volume_shift,brazil_shift,india_shift,vietnam_shift,indonesia_shift,china_shift,...,supply_shift,vietnam_season_1_shift,vietnam_season_2_shift,vietnam_season_3_shift,total_volume_total_price_shift,brazil_total_price_shift,india_total_price_shift,vietnam_total_price_shift,indonesia_total_price_shift,china_total_price_shift
week_end_dt,,,,,,,,,,,,,,,,,,,,,
2017-11-05,6.800395,2017,11,9.071372,1.620086e+06,21982.228571,252701.600000,1.255762e+06,89639.942857,0.000000,...,0.500000,0.857143,0.142857,0.0,1.472720e+07,2.031454e+05,2.305633e+06,1.140897e+07,5.866479e+05,0.000000
2017-11-12,6.349525,2017,11,8.847148,1.618631e+06,6126.557143,250614.900000,1.288531e+06,73358.528571,0.000000,...,0.500000,0.714286,0.285714,0.0,1.436137e+07,5.457748e+04,2.249997e+06,1.139990e+07,4.888733e+05,0.000000
2017-11-19,6.349525,2017,11,8.647138,1.657269e+06,2005.428571,258309.657143,1.350321e+06,46632.428571,0.000000,...,0.500000,0.571429,0.428571,0.0,1.439959e+07,1.789971e+04,2.271816e+06,1.169084e+07,4.190342e+05,0.000000
2017-11-26,6.400375,2017,11,8.472149,1.703052e+06,261.842857,232416.400000,1.461603e+06,8770.457143,0.000000,...,0.500000,0.428571,0.571429,0.0,1.445160e+07,2.511943e+03,2.024957e+06,1.233924e+07,8.488889e+04,0.000000
2017-12-03,6.740505,2017,12,8.057924,1.716140e+06,87.942857,201740.714286,1.513390e+06,921.585714,0.000000,...,0.500000,0.285714,0.714286,0.0,1.381309e+07,8.251174e+02,1.687346e+06,1.211616e+07,8.755032e+03,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-03,6.560342,2023,9,7.640420,2.438169e+06,522911.600000,0.000000,1.354759e+06,497917.557143,57850.200000,...,52.544286,1.000000,0.000000,0.0,1.864658e+07,4.022389e+06,0.000000e+00,1.037152e+07,3.777636e+06,438291.743675
2023-09-10,6.560342,2023,9,7.553860,2.546789e+06,470054.942857,0.000000,1.450528e+06,552868.814286,68347.614286,...,48.411429,1.000000,0.000000,0.0,1.924933e+07,3.584075e+06,0.000000e+00,1.096418e+07,4.150022e+06,512431.653071
2023-09-17,6.635274,2023,9,7.393219,2.500334e+06,406977.857143,0.000000,1.452917e+06,573193.314286,63098.900000,...,47.682857,1.000000,0.000000,0.0,1.848092e+07,3.038524e+06,0.000000e+00,1.072140e+07,4.225726e+06,463688.342909
2023-09-24,6.910027,2023,9,7.193085,2.490162e+06,352943.428571,0.000000,1.469637e+06,585561.300000,76771.457143,...,46.750000,1.000000,0.000000,0.0,1.796009e+07,2.577900e+06,0.000000e+00,1.057433e+07,4.218758e+06,550298.504044
2023-10-01,6.910027,2023,10,7.027416,2.422659e+06,305896.314286,614.385714,1.471883e+06,564821.728571,74194.642857,...,46.728571,1.000000,0.000000,0.0,1.706619e+07,2.195042e+06,4.030580e+03,1.032172e+07,3.978740e+06,527850.445113

In [18]:
x_df_red=df_red.drop(["price"],axis=1)
y_df_red=df_red["price"]
from sklearn.feature_selection import SelectKBest,f_regression,mutual_info_regression  
best_red=SelectKBest(score_func=f_regression,k=26).fit(x_df_red,y_df_red)
features_score_red=pd.concat([pd.DataFrame(x_df_red.columns,columns=["feature"]),pd.DataFrame(best_red.scores_,columns=["score"])],axis=1)
features_score_red

                           feature       score
0                             year    0.115658
1                            month    8.913543
2                      price_shift  109.499373
3               total_volume_shift    0.182661
4                     brazil_shift   34.539103
5                      india_shift    9.484815
6                    vietnam_shift    6.056411
7                  indonesia_shift    0.342306
8                      china_shift    0.368807
9              brazil_season_shift   25.060287
10          indonesia_season_shift    0.019764
11              india_season_shift   49.866362
12              china_season_shift    5.482472
13          jordan_max_price_shift   84.026356
14          jordan_min_price_shift   99.713915
15                    demand_shift   78.451458
16                    supply_shift    5.152244
17          vietnam_season_1_shift   12.064556
18          vietnam_season_2_shift   13.915700
19          vietnam_season_3_shift   80.611497
20  total_volume_total_price_shift   80.125594
21        brazil_total_price_shift   56.733095
22         india_total_price_shift    7.982720
23       vietnam_total_price_shift   10.325547
24     indonesia_total_price_shift    0.002337
25         china_total_price_shift    1.189991

In [20]:
x_df_green=df_green.drop(["price"],axis=1)
y_df_green=df_green["price"]

best_green=SelectKBest(score_func=f_regression,k=26).fit(x_df_green,y_df_green)
features_score_green=pd.concat([pd.DataFrame(x_df_green.columns,columns=["feature"]),pd.DataFrame(best_green.scores_,columns=["score"])],axis=1)
features_score_red

                           feature       score
0                             year    0.115658
1                            month    8.913543
2                      price_shift  109.499373
3               total_volume_shift    0.182661
4                     brazil_shift   34.539103
5                      india_shift    9.484815
6                    vietnam_shift    6.056411
7                  indonesia_shift    0.342306
8                      china_shift    0.368807
9              brazil_season_shift   25.060287
10          indonesia_season_shift    0.019764
11              india_season_shift   49.866362
12              china_season_shift    5.482472
13          jordan_max_price_shift   84.026356
14          jordan_min_price_shift   99.713915
15                    demand_shift   78.451458
16                    supply_shift    5.152244
17          vietnam_season_1_shift   12.064556
18          vietnam_season_2_shift   13.915700
19          vietnam_season_3_shift   80.611497
20  total_volume_total_price_shift   80.125594
21        brazil_total_price_shift   56.733095
22         india_total_price_shift    7.982720
23       vietnam_total_price_shift   10.325547
24     indonesia_total_price_shift    0.002337
25         china_total_price_shift    1.189991

In [19]:
x_df_yellow=df_yellow.drop(["price"],axis=1)
y_df_yellow=df_yellow["price"]

best_yellow=SelectKBest(score_func=f_regression,k=26).fit(x_df_yellow,y_df_yellow)
features_score_yellow=pd.concat([pd.DataFrame(x_df_yellow.columns,columns=["feature"]),pd.DataFrame(best_yellow.scores_,columns=["score"])],axis=1)
features_score_red

                           feature       score
0                             year    0.115658
1                            month    8.913543
2                      price_shift  109.499373
3               total_volume_shift    0.182661
4                     brazil_shift   34.539103
5                      india_shift    9.484815
6                    vietnam_shift    6.056411
7                  indonesia_shift    0.342306
8                      china_shift    0.368807
9              brazil_season_shift   25.060287
10          indonesia_season_shift    0.019764
11              india_season_shift   49.866362
12              china_season_shift    5.482472
13          jordan_max_price_shift   84.026356
14          jordan_min_price_shift   99.713915
15                    demand_shift   78.451458
16                    supply_shift    5.152244
17          vietnam_season_1_shift   12.064556
18          vietnam_season_2_shift   13.915700
19          vietnam_season_3_shift   80.611497
20  total_volume_total_price_shift   80.125594
21        brazil_total_price_shift   56.733095
22         india_total_price_shift    7.982720
23       vietnam_total_price_shift   10.325547
24     indonesia_total_price_shift    0.002337
25         china_total_price_shift    1.189991