##  *Features_Engineering*

In [6]:
%run C:\Users\Omar\Intern_Final_Project\notebooks\Data_Cleaning\Task_1.ipynb

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1272 entries, 0 to 1271
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   week_start_dt     1272 non-null   object
 1   week_end_dt       1272 non-null   object
 2   vietnam_season    1272 non-null   int64
 3   p_color           1272 non-null   object
 4   price             1272 non-null   float64
 5   total_volume      1272 non-null   float64
 6   brazil            1272 non-null   float64
 7   india             1272 non-null   float64
 8   vietnam           1272 non-null   float64
 9   indonesia         1272 non-null   float64
 10  china             1272 non-null   float64
 11  brazil_season     1272 non-null   bool
 12  indonesia_season  1272 non-null   bool
 13  india_season      1272 non-null   bool
 14  china_season      1272 non-null   bool
 15  jordan_max_price  1241 non-null   float64
 16  jordan_min_price  1241 non-null   float64
 17  demand            1272 non-null   float64
 18  supply            1272 non-null   float64
dtypes: bool(4), float64(11), int64(1), object(3)
memory usage: 154.2+ KB

In [7]:
df

,price,total_volume,brazil,india,vietnam,indonesia,china,brazil_season,indonesia_season,india_season,...,demand,supply,vietnam_season_1,vietnam_season_2,vietnam_season_3,green,red,yellow,year,month
week_end_dt,,,,,,,,,,,,,,,,,,,,,
2016-01-03,6.599075,1596040.2,10793.5,65658.1,1519588.5,0.0,0.0,0,0,0,...,0.50,0.500000,0.0,1.0,0.0,1.0,0.0,0.0,2016,1
2016-01-03,7.175335,1596040.2,10793.5,65658.1,1519588.5,0.0,0.0,0,0,0,...,0.51,0.500000,0.0,1.0,0.0,0.0,1.0,0.0,2016,1
2016-01-03,7.300575,1596040.2,10793.5,65658.1,1519588.5,0.0,0.0,0,0,0,...,16.55,0.500000,0.0,1.0,0.0,0.0,0.0,1.0,2016,1
2016-01-10,7.379675,2295578.0,5677.8,15274.4,2274625.7,0.0,0.0,0,0,0,...,271.16,0.500000,0.0,1.0,0.0,0.0,0.0,1.0,2016,1
2016-01-10,7.175335,2295578.0,5677.8,15274.4,2274625.7,0.0,0.0,0,0,0,...,42.33,0.500000,0.0,1.0,0.0,0.0,1.0,0.0,2016,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-01,8.758362,2665343.9,167.8,45376.1,2521054.0,78334.2,8618.2,0,0,1,...,409.19,196.703982,1.0,0.0,0.0,0.0,0.0,1.0,2023,10
2023-10-08,0.000000,2464051.7,62609.9,0.0,2365023.5,27739.8,8678.3,0,0,1,...,0.00,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,2023,10
2023-10-15,0.000000,2390304.2,22744.0,0.0,2345998.8,15052.6,6508.7,0,0,1,...,0.00,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,2023,10
2023-10-22,0.000000,2581416.4,10961.5,0.0,2555267.6,0.0,15187.1,0,0,1,...,0.00,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,2023,10
2023-10-29,0.000000,2554936.6,9211.5,0.0,2530537.9,0.0,15187.1,0,0,1,...,0.00,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,2023,10

In [8]:
def total_price():
    for col in df:
        if col in ['total_volume', 'brazil', 'india', 'vietnam', 'indonesia','china']:
            df[f"{col}_total_price"]=df[col]*df["price"]


total_price()

In [9]:
df

,price,total_volume,brazil,india,vietnam,indonesia,china,brazil_season,indonesia_season,india_season,...,red,yellow,year,month,total_volume_total_price,brazil_total_price,india_total_price,vietnam_total_price,indonesia_total_price,china_total_price
week_end_dt,,,,,,,,,,,,,,,,,,,,,
2016-01-03,6.599075,1596040.2,10793.5,65658.1,1519588.5,0.0,0.0,0,0,0,...,0.0,0.0,2016,1,1.053239e+07,71227.116013,433282.726258,1.002788e+07,0.000000,0.000000
2016-01-03,7.175335,1596040.2,10793.5,65658.1,1519588.5,0.0,0.0,0,0,0,...,1.0,0.0,2016,1,1.145212e+07,77446.978322,471118.862964,1.090356e+07,0.000000,0.000000
2016-01-03,7.300575,1596040.2,10793.5,65658.1,1519588.5,0.0,0.0,0,0,0,...,0.0,1.0,2016,1,1.165201e+07,78798.756262,479341.883408,1.109387e+07,0.000000,0.000000
2016-01-10,7.379675,2295578.0,5677.8,15274.4,2274625.7,0.0,0.0,0,0,0,...,0.0,1.0,2016,1,1.694062e+07,41900.318715,112720.107820,1.678600e+07,0.000000,0.000000
2016-01-10,7.175335,2295578.0,5677.8,15274.4,2274625.7,0.0,0.0,0,0,0,...,1.0,0.0,2016,1,1.647154e+07,40740.117063,109598.936924,1.632120e+07,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-01,8.758362,2665343.9,167.8,45376.1,2521054.0,78334.2,8618.2,0,0,1,...,0.0,1.0,2023,10,2.334405e+07,1469.653110,397420.300873,2.208030e+07,686079.264914,75481.313665
2023-10-08,0.000000,2464051.7,62609.9,0.0,2365023.5,27739.8,8678.3,0,0,1,...,0.0,0.0,2023,10,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000
2023-10-15,0.000000,2390304.2,22744.0,0.0,2345998.8,15052.6,6508.7,0,0,1,...,0.0,0.0,2023,10,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000
2023-10-22,0.000000,2581416.4,10961.5,0.0,2555267.6,0.0,15187.1,0,0,1,...,0.0,0.0,2023,10,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000
2023-10-29,0.000000,2554936.6,9211.5,0.0,2530537.9,0.0,15187.1,0,0,1,...,0.0,0.0,2023,10,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000

In [10]:
df_red=df[df["red"]==1].drop(["red","yellow","green"],axis=1)
df_green=df[df["green"]==1].drop(["red","yellow","green"],axis=1)
df_yellow=df[df["yellow"]==1].drop(["red","yellow","green"],axis=1)

In [11]:
print(df_red.shape,df_green.shape,df_yellow.shape)

(405, 26) (405, 26) (405, 26)

In [12]:
def features_shift():
    
    for col in df_red:
        if col not in ["year","month"]:
           df_red[f"{col}_shift"]=df_red[col].rolling(window=7, min_periods=1).mean().shift(4)
           df_red.dropna(axis=0,how="any",inplace=True)

    for col in df_green:
        if col not in ["year","month"]:
           df_green[f"{col}_shift"]=df_green[col].rolling(window=7, min_periods=1).mean().shift(4)
           df_green.dropna(axis=0,how="any",inplace=True)    

    for col in df_yellow:
        if col not in ["year","month"]:
           df_yellow[f"{col}_shift"]=df_yellow[col].rolling(window=7, min_periods=1).mean().shift(4)
           df_yellow.dropna(axis=0,how="any",inplace=True)



features_shift()

In [13]:
features_to_drop=['total_volume','brazil','india','vietnam','indonesia','china','brazil_season','indonesia_season','india_season',
                  'china_season','jordan_max_price','jordan_min_price','demand','supply','vietnam_season_1','vietnam_season_2',
                  'vietnam_season_3','total_volume_total_price','brazil_total_price','india_total_price','vietnam_total_price','indonesia_total_price',
                  'china_total_price']

In [14]:
def features_drop():
      df_red.drop(features_to_drop,axis=1,inplace=True)
      df_green.drop(features_to_drop,axis=1,inplace=True)    
      df_yellow.drop(features_to_drop,axis=1,inplace=True) 



features_drop()

In [15]:
print(df_red.shape,df_green.shape,df_yellow.shape)

(309, 27) (309, 27) (309, 27)

In [16]:
df

,price,total_volume,brazil,india,vietnam,indonesia,china,brazil_season,indonesia_season,india_season,...,red,yellow,year,month,total_volume_total_price,brazil_total_price,india_total_price,vietnam_total_price,indonesia_total_price,china_total_price
week_end_dt,,,,,,,,,,,,,,,,,,,,,
2016-01-03,6.599075,1596040.2,10793.5,65658.1,1519588.5,0.0,0.0,0,0,0,...,0.0,0.0,2016,1,1.053239e+07,71227.116013,433282.726258,1.002788e+07,0.000000,0.000000
2016-01-03,7.175335,1596040.2,10793.5,65658.1,1519588.5,0.0,0.0,0,0,0,...,1.0,0.0,2016,1,1.145212e+07,77446.978322,471118.862964,1.090356e+07,0.000000,0.000000
2016-01-03,7.300575,1596040.2,10793.5,65658.1,1519588.5,0.0,0.0,0,0,0,...,0.0,1.0,2016,1,1.165201e+07,78798.756262,479341.883408,1.109387e+07,0.000000,0.000000
2016-01-10,7.379675,2295578.0,5677.8,15274.4,2274625.7,0.0,0.0,0,0,0,...,0.0,1.0,2016,1,1.694062e+07,41900.318715,112720.107820,1.678600e+07,0.000000,0.000000
2016-01-10,7.175335,2295578.0,5677.8,15274.4,2274625.7,0.0,0.0,0,0,0,...,1.0,0.0,2016,1,1.647154e+07,40740.117063,109598.936924,1.632120e+07,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-01,8.758362,2665343.9,167.8,45376.1,2521054.0,78334.2,8618.2,0,0,1,...,0.0,1.0,2023,10,2.334405e+07,1469.653110,397420.300873,2.208030e+07,686079.264914,75481.313665
2023-10-08,0.000000,2464051.7,62609.9,0.0,2365023.5,27739.8,8678.3,0,0,1,...,0.0,0.0,2023,10,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000
2023-10-15,0.000000,2390304.2,22744.0,0.0,2345998.8,15052.6,6508.7,0,0,1,...,0.0,0.0,2023,10,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000
2023-10-22,0.000000,2581416.4,10961.5,0.0,2555267.6,0.0,15187.1,0,0,1,...,0.0,0.0,2023,10,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000
2023-10-29,0.000000,2554936.6,9211.5,0.0,2530537.9,0.0,15187.1,0,0,1,...,0.0,0.0,2023,10,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000